$grey: #abafb0;
$opensans: "Open Sans", sans-serif;

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;

    p {
        font-family: $opensans;
        font-weight: 600;
        text-align: center;
        color: $white;

        span {
            font-family: $opensans;
            font-weight: 600;
            color: $black;
        }
    }
}