$white: #ffffff;
$grey: #abafb0;
$black: #252122;
$sawarabi: "Sawarabi Mincho", serif;
$opensans: "Open Sans", sans-serif;

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $grey url("assets/images/thailand.jpg") center;
    color: $white;
    height: 500px;

    h1 {
        margin: 0;
        font-family: $sawarabi;
    }

    h3 {
        font-family: $opensans;
    }

    div {
        display: flex;
        justify-content: space-between;
        width: 300px;

        button {
            width: 130px;
            border-radius: 4px;
            border: 0;
            padding: 0.8em;
            color: $white;
            font-family: $opensans;
        }

        .things-button {
            background-color: lightgreen;
        }

        .tmd-button {
            background-color: blue;
        }
    }
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 1080px;
    margin: 1em auto;

    div {
        max-width: 700px;

        h2 {
            font-family: $sawarabi;
        }
        
        p {
            font-family: $opensans;
        }
    }

    img {
        width: 30%;
        height: 30%;
        max-width: 300px;
        max-height: 300px;
        border-radius: 4px;
        margin: auto;
    }
}

section {
    display: flex;
    flex-direction: column;
    background-color: $grey;
    color: $white;
    text-align: center;
    padding-bottom: 2em;
    margin: 1em 0;

    h2, h4 {
        font-family: $sawarabi;
    }

    div {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        column-gap: 20px;
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 200px;
            border-radius: 4px;
            background-color: lightgrey;
            color: $black;
            padding-bottom: 1.4em;
        }
    }

    img {
        width: 80%;
    }
}

@media (max-width: 900px) {
    article {
        flex-direction: column;

        img {
            width: 60%;
        }
    }

    section {
        div {
            grid-template-columns: auto auto;
            gap: 10px;
            justify-content: center;

            div {
                width: 300px;
            }
        }
    }
}

@media (max-width: 480px) {
    section {
        div {
            grid-template-columns: auto;
            row-gap: 8px;
            justify-content: center;

            div {
                width: 360px;
            }
        }
    }
}