$grey: #abafb0;
$white: #ffffff;
$opensans: "Open Sans", sans-serif;

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: $white;

    a {
        height: 50px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: inherit;
        margin: 0;
        
        a, p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: inherit;
            text-decoration: none;
            font-family: $opensans;
        }
        
        a:hover, p:hover {
            background-color: $grey;
            color: $white;
        }
    }

    .navbar-logo {
        height: 50px;
    }
}

.link-icon {
    height: 16px;
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100px;

        div {
            width: 100%;
            height: 50px;
        }
    }
}