$grey: #abafb0;
$white: #ffffff;
$opensans: "Open Sans", sans-serif;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: inherit;
        margin: 0;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: inherit;
            text-decoration: none;
            font-family: $opensans;
        }
        
        a:hover {
            background-color: $grey;
            color: $white;
        }
    }

    .navbar-logo {
        height: 50px;
    }
}