$black: #252122;

@use "navbar_style";
@use "footer_style";
@use "home_style";
@use "auth_style";
@use "things_style";
@use "notsupport_style";

* {
    font-family: serif;
    box-sizing: border-box;
    color: $black;
}

body {
    margin: 0;
}