nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #ffffff;
}
nav a {
  height: 50px;
}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: inherit;
  margin: 0;
}
nav div a, nav div p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: inherit;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
nav div a:hover, nav div p:hover {
  background-color: #abafb0;
  color: #ffffff;
}
nav .navbar-logo {
  height: 50px;
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  }
  nav div {
    width: 100%;
    height: 50px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #abafb0;
}
footer p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}
footer p span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #252122;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #abafb0 url("assets/images/thailand.jpg") center;
  height: 500px;
}
main h1 {
  font-family: "Sawarabi Mincho", serif;
  color: #ffffff;
  margin: 0;
}
main h3 {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}
main div {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
main div button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  width: 130px;
  border-radius: 4px;
  color: #ffffff;
  padding: 0.8em;
  border: 0;
}
main div .things-button {
  background-color: #6ed442;
}
main div .things-button:hover {
  background-color: #ffffff;
  color: #6ed442;
}
main div .tmd-button {
  background-color: #4163ff;
}
main div .tmd-button:hover {
  background-color: #ffffff;
  color: #4163ff;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1080px;
  margin: 1em auto;
}
article div {
  max-width: 700px;
}
article div h2 {
  font-family: "Sawarabi Mincho", serif;
}
article div p {
  font-family: "Open Sans", sans-serif;
}
article div p span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
article div p a {
  font-family: "Open Sans", sans-serif;
}
article img {
  width: 30%;
  height: 30%;
  max-width: 300px;
  max-height: 300px;
  border-radius: 4px;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #abafb0;
  text-align: center;
  padding-bottom: 2em;
  margin: 1em 0;
}
section h2, section h4 {
  font-family: "Sawarabi Mincho", serif;
}
section div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  column-gap: 20px;
}
section div div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  border-radius: 4px;
  background-color: #e6e6e6;
  color: #252122;
  padding-bottom: 1.4em;
}
section img {
  width: 80%;
}

@media (max-width: 900px) {
  article {
    flex-direction: column;
  }
  article img {
    width: 60%;
  }
  section div {
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: space-evenly;
  }
}
@media (max-width: 480px) {
  section div {
    grid-template-columns: auto;
    row-gap: 8px;
    justify-content: center;
  }
  section div div {
    width: 300px;
  }
}
.auth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff url("assets/images/bangkok.jpg") center;
  height: 600px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
  height: 300px;
  background-color: #e6e6e6;
  border-radius: 4px;
  padding: 1em;
}

.auth-header {
  font-family: "Sawarabi Mincho", serif;
  text-align: center;
  margin: 0;
}

.auth-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.auth-label {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.auth-input {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #ffffff;
  color: #252122;
  border-radius: 4px;
  border: 2px solid #ffffff;
}

.auth-input:hover {
  border: 2px solid #252122;
}

.auth-input:focus {
  border: 2px solid #252122;
}

.auth-decide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.auth-decide a {
  text-decoration: none;
}
.auth-decide a:hover {
  text-decoration: underline;
}

.auth-switch {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #252122;
  margin: 0;
}

.auth-submit {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 0 20px;
  border: 2px solid #ffffff;
}

.auth-submit:hover {
  border: 2px solid #252122;
}

@media (max-width: 650px) {
  .auth-form {
    width: 90%;
  }
}
.things {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 1em auto;
}

.thing {
  background-color: #e6e6e6;
  color: #252122;
  border-radius: 4px;
  padding: 1em;
}

.thing-name {
  font-family: "Sawarabi Mincho", serif;
  margin: 0;
}

.thing-category {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: #abafb0;
  border-radius: 4px;
  width: fit-content;
  padding: 3px 9px;
  margin: 14px 0;
}

.thing-description {
  font-family: "Open Sans", sans-serif;
}

.more-detail {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #4163ff;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  width: 100%;
  height: 2.5em;
}

.more-detail:hover {
  background-color: #ffffff;
  color: #4163ff;
}

@media (max-width: 900px) {
  .things {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 480px) {
  .things {
    grid-template-columns: auto;
  }
}
.specific-thing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #abafb0;
  padding: 2em 0;
}

.specific-image {
  width: 300px;
}

.specific-name, .specific-category, .specific-description {
  font-family: "Sawarabi Mincho", serif;
  color: #ffffff;
  margin: 8px 0;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
  width: 90%;
  height: 28px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 1em;
}

.comment-input {
  width: 100%;
  height: 100%;
}

.comment-submit {
  height: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0;
}

.comment {
  width: 90%;
  max-width: 960px;
  background-color: #e6e6e6;
  border-radius: 4px;
  padding: 0 0.5em;
  margin: 0.5em 0;
}

.comment-username, .comment-date, .comment-detail {
  font-family: "Open Sans", sans-serif;
  color: #252122;
}

.not-support {
  background-color: #ed4141;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  width: 300px;
  padding: 0.8em 0.4em;
  margin: 300px auto;
}

* {
  font-family: serif;
  box-sizing: border-box;
  color: #252122;
}

body {
  margin: 0;
}

/*# sourceMappingURL=App.css.map */
